<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ productcategory.name }}</h1>
    <p>{{ productcategory.description }}</p>

    <p><a href="{% url 'rl_app:add_product_to_productcategory' productcategory_id=productcategory.id %}">Добавить новый продукт</a></p>

    <p><a href="{% url 'rl_app:update_productcategory' productcategory_id=productcategory.id %}">Изменить категорию продукта</a></p>

    <p><a href="{% url 'rl_app:delete_productcategory' productcategory.id %}"onclick="return confirm('Вы уверены, что хотите удалить эту категорию?');">Удалить категорию</a></p>
    <h2>Продукты</h2>
    <ul>
        {% for product in productcategory.products.all %}
            <li><a href="{% url 'rl_app:product_detail' productcategory_id=productcategory.id product_id=product.id %}">{{ product.name }}</a></li>
        {% empty %}
            <li>В этой категории пока нет продуктов</li>
        {% endfor %}
    </ul>
</body>
</html>